@model PTSMSDAL.Models.Dispatch.ActivityRampOut

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActivityRampOut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityCheckIn.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityCheckIn.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hobbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hobbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjustedDepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustedDepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdjustedReasonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdjustedReasonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActivityRampOutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
