@model IEnumerable<PTSMSDAL.Models.Dispatch.ActivityRampOut>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCheckIn.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hobbs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjustedDepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdjustedReasonId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityCheckIn.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hobbs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tach)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdjustedDepartureTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdjustedReasonId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ActivityRampOutId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ActivityRampOutId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ActivityRampOutId })
        </td>
    </tr>
}

</table>
