@model IEnumerable<PTSMSDAL.Models.Dispatch.Master.InstrumentApproach>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.InstrumentApproachName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RevisionNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentApproachName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevisionNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstrumentApproachId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstrumentApproachId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstrumentApproachId })
        </td>
    </tr>
}

</table>
