@model PTSMSDAL.Models.Dispatch.ActivityAuthorization
@using PTSMSDAL.Models.Dispatch;


@section scripts
{


}

@*@using (Html.BeginForm("Create", "ActivityAuthorization", FormMethod.Post, new { enctype = "multipart/form-data", id = "btnActivityAuthorization" }))
    {
        @Html.AntiForgeryToken()*@
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">Activity Authorization </h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div  class="col-md-12 hide" id="AuthorizationMessage">
                <div class="row hide" id="AuthorizationMessageSuccess">
                    <div class="col-md-12">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-hand-o-right"></i> Success!</h4>
                            <ul>
                                <li><lable id="AuthorizationMessageSuccessLabel"> </lable></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row hide" id="AuthorizationMessageFail">
                    <div class="col-md-12">
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-hand-o-right"></i> Failed!</h4>
                            <ul>
                                <li><lable id="AuthorizationMessageFailLabel"> </lable></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @{
                    bool IsFlyingLesson = (bool)ViewBag.IsFlyingLesson;
                  <!-- if (!IsFlyingLesson)
                    {
                        <div class="alert alert-warning alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                            Sorry, authorization is not required for FTD lessons.
                        </div>
                    }
                    else
                    {-->
                        bool IsCheckedIn = (bool)ViewBag.IsCheckedIn;
                        if (Model.ActivityCheckinId == 0)
                        {
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                Sorry, there is no check in available to make this authorization.
                            </div>
                        }
                        else if (!IsCheckedIn)
                        {
                            <div class="alert alert-warning alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                                Sorry, check for check-in status of this schedule to proceed for authorization.
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="table-responsive">
                                    <table class="table table-responsive table-bordered" id="tblActivityCheckIn">
                                        <caption>Check In Detail</caption>
                                        <thead>
                                            <tr style="background-color:#6FA1D2; color:#ffffff;">
                                                <th>
                                                    Equipment
                                                </th>
                                                <th>
                                                    Instructor
                                                </th>
                                                <th>
                                                    Trainee
                                                </th>
                                                <th>
                                                    Observer
                                                </th>
                                                <th>
                                                    Check-In Time
                                                </th>
                                                <th>
                                                    Operation Area
                                                </th>
                                                <th>
                                                    Destination
                                                </th>
                                                <th>
                                                    Parking Spot
                                                </th>
                                                <th>
                                                    Check In Status
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (ViewBag.ActivityCheckIn != null)
                                                {
                                                    ActivityCheckIn activityCheckIn = (ActivityCheckIn)ViewBag.ActivityCheckIn;
                                                    <tr>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.Equipment.NameOrSerialNo)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.Instructor.Person.FirstName) @Html.DisplayFor(modelItem => activityCheckIn.Instructor.Person.MiddleName)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.FlyingFTDSchedule.Trainee.Person.FirstName) @Html.DisplayFor(modelItem => activityCheckIn.FlyingFTDSchedule.Trainee.Person.MiddleName)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.Observer.Person.FirstName) @Html.DisplayFor(modelItem => activityCheckIn.Observer.Person.MiddleName)
                                                        </td>
                                                        <td>
                                                            @activityCheckIn.CheckInTime
                                                        </td>
                                                        <td>
                                                             @if (@activityCheckIn.OperationAreas != null)
                                                             {
                                                                @activityCheckIn.OperationAreas.OperationAreaName
                                                             }
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.Destination.DestinationName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.ParkingSpot.ParkingSpotName)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => activityCheckIn.CheckInStatus.CheckInStatusName)
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group hide">
                                @Html.LabelFor(model => model.ActivityCheckinId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.ActivityCheckinId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActivityCheckinId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group hide">
                                @Html.LabelFor(model => model.ActivityAuthorizationId, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.ActivityAuthorizationId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ActivityAuthorizationId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-4">
                                    @Html.DropDownList("Status", (IEnumerable<SelectListItem>)ViewBag.Status, htmlAttributes: new { @class = "form-control", id = "Status", name = "Status" })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", rows = 3, cols = 20 } })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <input type="submit" id="btnActivityAuthorization" name="btnActivityAuthorization" value="Create" class="btn btn-info" />
                                </div>
                            </div>

                            <div class="form-group hide">
                                <input type="password" name="txtActivityAuthorizationPassword" id="txtActivityAuthorizationPassword" />
                            </div>





                                                    }
                                                }
                <!--}-->

            </div>

        </div>
    </div>
                                                @*  }*@



<script type="text/javascript">

    $(document).ready(function () {


        if ('@Model.ActivityAuthorizationId' != '0') {

            $('#Status').val('@Model.Status');
        }
    });
    $('#btnActivityAuthorization').on('click', function (e) {
        debugger;
        var data = {
            "ActivityCheckinId": $('#ActivityCheckinId').val(),
            "ActivityAuthorizationId": $('#ActivityAuthorizationId').val(),
            "Status": $('#Status').val(),
            "Remark": $('#Remark').val()
        }

        $.ajax({
            url: "/ActivityAuthorization/CreateJson",
            type: 'POST',
            data: data,
            success: function (result) {
                $('#AuthorizationMessage').removeClass("hide");
                if (result.isSuccess) {
                    $('#AuthorizationMessageSuccess').removeClass("hide");
                    $('#AuthorizationMessageFail').addClass("hide");
                    $('#AuthorizationMessageSuccessLabel').html(result.Message);
                }
                else {
                    $('#AuthorizationMessageFail').removeClass("hide");
                    $('#AuthorizationMessageSuccess').addClass("hide");
                    $('#AuthorizationMessageFailLabel').html(result.Message);
                }

            },
            error: function () {
                $('#AuthorizationMessageFail').removeClass("hide");
                $('#AuthorizationMessageSuccess').addClass("hide");
                $('#AuthorizationMessageFailLabel').html("Error has occured while coloring the event.");
            }
        });
    });
</script>