
@model PTSMSDAL.Models.Enrollment.Operations.Batch
@using PTSMSDAL.Models.Enrollment.Operations
@using PTSMSDAL.Models.Enrollment.Relations;
@using PTSMSDAL.Models.Enrollment.View;

@{
    ViewBag.Title = "Details";
    ViewBag.Name = "Batch Details.";
    ViewBag.TableId = "tblBatchClassList";
    ViewBag.DefualtSortingColumnIndex = 1;
}

<link href="~/Content/BootstrapDataTable/BootstrapDataTableCSS.css" rel="stylesheet" />
@section scripts
    {
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/BootstrapDataTables/BootstrapDataTables.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#tblListOfTrainee').DataTable({
                "order": [[1, "asc"]]
            });

            $('#tblListOfTrainee').on('click', '.Add-Student', function () {

                var TraineeId = $(this).attr('data-id');
                var batchClassId = $('#BatchClassId' + TraineeId).val();
                //alert("TraineeId= " + TraineeId + ' BatchClassId=' + batchClassId);
                //AddTraineeToBatchClass(int traineeId, int batchClassId
                var AddTraineeUrl = "/Batches/AddTraineeToBatchClass";
                $.ajax({
                    url: AddTraineeUrl,
                    type: 'GET',
                    data: {
                        'traineeId': TraineeId,
                        'batchClassId': batchClassId
                    },
                    success: function (result) {
                        if (result) {
                            if (result.Result.status) {
                                bootbox.alert("Trainee Successfully added into the selected batch class!");
                            }
                            else {
                                bootbox.alert("unable to add trainee into the selected batch class due to : " + result.Result.message);
                            }
                        }
                        else {

                        }
                    },
                    error: function () {
                        bootbox.alert("Error has occured!!!.");
                    }
                });
            });

            @{
                List<BatchTraineeView> BatchTraineeViewList = (List<BatchTraineeView>)ViewBag.TraineeList;
                foreach (var item in BatchTraineeViewList)
                {
                    <text>
            $('#BatchClassId' + '@item.TraineeId').val('@item.BatchClassId');
            </text>
                }
            }
        });
    </script>
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"></h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
            @*<button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fa fa-times"></i>
                </button>*@
        </div>
    </div>
    <div class="box-body">
        <div class="callout callout-info">
            <h4>Batch Details.</h4>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Program.ProgramName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Program.ProgramName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BatchName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BatchName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BatchStartDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BatchStartDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EstimatedEndDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EstimatedEndDate)
                </dd>
            </dl>
        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        @Html.ActionLink("Back to List", "BatchList")
    </div>
    <!-- /.box-footer-->
</div>

<h3>List of batch class</h3>
<table id="tblBatchClassList" class="table display dataTable" cellspacing="0" role="grid" width="100%">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                Batch Name
            </th>
            <th>
                Batch Class Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.BatchClassList != null)
            {
                int i = 1;
                List<BatchClass> BatchClassList = (List<BatchClass>)ViewBag.BatchClassList;
                foreach (BatchClass item in BatchClassList)
                {
                    <tr role="row" class="odd">
                        <td>@i</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Batch.BatchName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BatchClassName)
                        </td>
                        <td>
                            <a href="@Url.Action("BatchClassDetails", "InstructorProfile",new { id = item.BatchClassId })" title="DETAIL"><i class="fa fa-list-ul text-green"></i></a>
                        </td>
                    </tr>
                    i = i + 1;
                }
                if (BatchClassList.Count() == 0)
                {
                    <div style="color:red">@Html.Raw("The is no Batch Class yet.")</div>
                }
            }
            else
            {
                <div style="color:red">@Html.Raw("The is no Batch Class yet.")</div>
            }
        }
    </tbody>
</table>
