@using PTSMS.Others
@using PTSMSDAL.Models.Others.Messaging



<header class="main-header">
    <!-- Logo -->
    <a href="@Url.Action("Welcome","Home", new { })" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><span class="glyphicon glyphicon-plane fa-2x"></span> @*<img src="~/Content/Images/staronly.png" class="img-responsive" alt="logo Image" />*@</span>
        <!-- logo for regular state and mobile devices -->
        @*<span class="logo-lg"><img src="~/Content/Images/evisaLogoOnly3.png" class="img-responsive" alt="lg Image" /></span>*@
        <b>EAATMS</b>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown messages-menu message">
                    @{
                        UserMessages userMessages = HelperClass.GetUserMessages();
                        string messageBGcolor = "background-color: #FFFFFF;";
                        //int messagemaxNotification = 0;
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa fa-envelope-o"></i>
                            @if (userMessages.UnreadMessages > 0)
                            {
                                <span class="label label-warning" id="messageCounter">@userMessages.UnreadMessages </span>
                            }
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have @userMessages.UnreadMessages New Messages <span class="pull-right"> <a href="/Message/Create">Compose</a></span></li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    @foreach (var notific in userMessages.UserMessageViewList)
                                    {
                                        //messagemaxNotification = messagemaxNotification + 1;
                                        //if (messagemaxNotification <= @userMessages.UnreadMessages)
                                        //{
                                        if (notific.MessageState != MessageState.READ)
                                        {
                                            messageBGcolor = "background-color: #E8DADA;";
                                        }
                                        <li class="" style='@messageBGcolor'>
                                            <!-- start message -->
                                            <a href="/Message/Details/@notific.MessageId" @*class="IndividualNotification" data-id="Details/@notific.MessageId"*@>
                                                <div class="pull-left">
                                                    <i class="fa fa-info-circle fa-1x"></i>
                                                </div>
                                                <h4>
                                                    @notific.Subject
                                                    <small><i class="fa fa-clock-o"></i> @notific.TimeSent</small>
                                                </h4>
                                                <p>@notific.Description</p>
                                            </a>
                                        </li>
                                        messageBGcolor = "background-color: #FFFFFF;";
                                        //}
                                        //else
                                        //{
                                        //    break;
                                        //}
                                    }
                                    <!-- end message -->
                                </ul>
                            </li>
                            @if (userMessages.UserMessageViewList.Count() == 0)
                            {
                                <li class="footer"><a href="#">No Message found</a></li>
                            }
                            else
                            {
                                <li class="footer"><a href="/Message/Index">See All Messages</a></li>
                            }
                        </ul>
                    }
                </li>

                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu notification">
                    @{
                        UserNotifications userNotifications = HelperClass.GetUserNotification();
                        string backGoundColor = "background-color: #FFFFFF;";
                        int maxNotification = 0;
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa fa-bell-o"></i>
                            @if (userNotifications.UnreadNotifications > 0)
                            {
                                <span class="label label-warning" id="notificationCounter">@userNotifications.UnreadNotifications </span>
                            }                           
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have @userNotifications.UnreadNotifications notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    @foreach (var notific in userNotifications.UserNotificationList)
                                    {
                                        maxNotification = maxNotification + 1;
                                        if (maxNotification < 5)
                                        {
                                            if (notific.NotificationState != NotificationState.READ)
                                            {
                                                backGoundColor = "background-color: #E8DADA;";
                                            }                                          
                                            <li class="" style='@backGoundColor'>
                                                <!-- start message -->
                                                <a href="#" class="IndividualNotification" data-id="@notific.ObjectURL">
                                                    <div class="pull-left">
                                                        <i class="fa fa-plane fa-2x"></i>
                                                        @*<img src="~/Content/AdminLTE/img/avatar.png" class="img-circle" alt="User Image" />*@
                                                    </div>
                                                    <h4>
                                                        @notific.NotificationType
                                                        <small><i class="fa fa-clock-o"></i> @notific.TimeSent</small>
                                                    </h4>
                                                    <p>@notific.Description</p>
                                                </a>
                                            </li>
                                            backGoundColor = "background-color: #FFFFFF;";
                                        }
                                        else
                                        {
                                            break;
                                        }
                                    }
                                    <!-- end message -->
                                </ul>
                            </li>
                            @if (userNotifications.UserNotificationList.Count() == 0)
                            {
                                <li class="footer"><a href="#">No notifications found</a></li>
                            }
                            else
                            {
                                <li class="footer"><a href="#">See All Notifications</a></li>
                            }
                        </ul>
                    }
                </li>

                <!-- Notifications: style can be found in dropdown.less -->
                @*
                     <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">10</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 10 notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the page and may cause design problems
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-red"></i> 5 new members joined
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-user text-red"></i> You changed your username
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#">View all</a></li>
                        </ul>
                    </li>

                    <!-- Tasks: style can be found in dropdown.less -->
                    <li class="dropdown tasks-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-flag-o"></i>
                            <span class="label label-danger">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Summary</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <!-- Task item -->



                                        <a href="#">
                                            <h3>
                                                New Requests
                                                <small class="pull-right">@ViewBag.PercentageNew</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-aqua" style="width: @ViewBag.PercentageNew" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Validated Requests
                                                <small class="pull-right">@ViewBag.PercentageValidated</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-yellow" style="width: @ViewBag.PercentageValidated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Approved Requests
                                                <small class="pull-right">@ViewBag.PercentageApproved</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-green" style="width: @ViewBag.PercentageApproved" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <!-- Task item -->
                                        <a href="#">
                                            <h3>
                                                Denied Requests
                                                <small class="pull-right">@ViewBag.PercentageDenied</small>
                                            </h3>
                                            <div class="progress xs">
                                                <div class="progress-bar progress-bar-red" style="width: @ViewBag.PercentageDenied" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                    <span class="sr-only"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </li><!-- end task item -->
                                    <!-- end task item -->
                                </ul>
                            </li>

                        </ul>
                    </li>*@
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/Content/AdminLTE/img/avatar.png" class="user-image" alt="User Image" />*@
                        <span><i class="fa fa-user"></i></span>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <span> Welcome <strong> @HttpContext.Current.User.Identity.Name </strong> </span>
                        }
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <span><i class="fa fa-user fa-5x text-success"></i></span>
                            @*</span><img src="~/Content/AdminLTE/img/avatar.png" class="img-circle" alt="User Image" />*@
                            @if (User.Identity.IsAuthenticated)
                            {
                                <p>
                                    @HttpContext.Current.User.Identity.Name - @Session["Position"]
                                    <small>Member since @Session["JoinDate"]</small>
                                </p>
                            }
                        </li>
                        <!-- Menu Body -->
                        @*<li class="user-body">
                                <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                            </li>*@
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="@Url.Action("ChangePassword", "Account"@*, new { id = Session["Name"] }*@)" class="btn btn-default btn-block"><i class="fa fa-key"></i> Change Password</a>
                            </div>
                            <div class="pull-right">
                                <a href="@Url.Action("LogOff", "Account")" class="btn btn-danger btn-block"><i class="glyphicon glyphicon-log-out"></i> Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
