
@model IEnumerable<PTSMSDAL.Models.Curriculum.Operations.Course>

@{
    ViewBag.Title = "Index";
    ViewBag.Name = "Course List.";
    ViewBag.TableId = "tblCourse";
    ViewBag.DefualtSortingColumnIndex = 1;
}

<style>
    #ModuleListModalPopup .modal-dialog {
        width: 75%;
    }
</style>

<link href="~/Content/BootstrapDataTable/BootstrapDataTableCSS.css" rel="stylesheet" />

@section scripts
    {

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/BootstrapDataTables/BootstrapDataTables.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('body').on('click', ".moduleList", function () {

                var courseId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Module List');

                var url = "/TraineeProfile/ModuleList";

                url = url + '?courseId=' + courseId;

                $.get(url, function (data) {

                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');

                });
            });

            $('body').on('click', ".moduleExamList", function () {

                var moduleId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Module Exam List');

                var url = "/TraineeProfile/ModuleExamList";

                url = url + '?moduleId=' + moduleId;

                $.get(url, function (data) {

                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');

                });
            });

            $('body').on('click', ".moduleExamDetail", function () {

                var traineeModuleExamId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Module Exam Detail');

                var url = "/TraineeProfile/ModuleExamDetails";

                url = url + '?traineeModuleExamId=' + traineeModuleExamId;

                $.get(url, function (data) {

                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');

                });
            });

            $('body').on('click', ".moduleDetail", function () {

                var moduleId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Module Detail');

                var url = "/TraineeProfile/ModuleDetails";

                url = url + '?moduleId=' + moduleId;
                $.get(url, function (data) {
                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');
                });
            });

            $('body').on('click', ".courseExamList", function () {

                var courseId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Course Exam List');

                var url = "/TraineeProfile/TraineeCourseExamList";

                url = url + '?courseId=' + courseId;

                $.get(url, function (data) {

                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');

                });
            });

            $('body').on('click', ".courseExamDetail", function () {

                var traineeCourseExamId = $(this).attr("data-id");

                $('#myEditModalLabel').html('Course Exam Detail');

                var url = "/TraineeProfile/CourseExamDetails";

                url = url + '?traineeCourseExamId=' + traineeCourseExamId;

                $.get(url, function (data) {

                    $('#moduleList-container').empty();
                    $('#moduleList-container').html(data);
                    $('#ModuleListModalPopup').modal('show');

                });
            });
        });
    </script>
}

<div class="table-responsive">

    @if (Model.Count() == 0)
    {
        <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa fa-warning"></i> Alert!</h4>
            <h5>Course not found.</h5>
        </div>
    }

    <table id="tblCourse" class="table table-responsive display dataTable" cellspacing="0" role="grid" width="100%">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CourseTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TheoreticalDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PracticalDuration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditHour)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.CoursePassingMark)
                </th>
                <th>Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var item in Model)
                {
                    string EffectiveDate = item.EffectiveDate.ToString("dd/MM/yyyy");
                    <tr role="row" class="odd">
                        <td>@(i++)</td>

                        <td>
                            @Html.DisplayFor(modelItem => item.CourseCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TheoreticalDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PracticalDuration)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreditHour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CoursePassingMark)
                        </td>
                        <td>
                            <a href="@Url.Action("CourseDetails", new { id = item.CourseId })" title="DETAILS"><i class="fa fa-list-ul text-green"></i></a>&nbsp;&nbsp;| &nbsp;&nbsp;
                            <a href="#" title="TRAINEE MODULE LIST" class="moduleList" data-id="@item.CourseId">Modules</a>&nbsp;&nbsp;| &nbsp;&nbsp;
                            <a href="#" title="TRAINEE COURSE EXAMS" class="courseExamList" data-id="@item.CourseId">Exams</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<div class="modal modal-fade" id="ModuleListModalPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="editModalPopup" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myEditModalLabel">Customer Detail List</h4>
            </div>
            <div class="modal-body" id="editModalBody">
                @*Press ESC button to exit.*@
                <div style="color:red"><lable class="control-label" name="lblMessage" id="lblMessage"></lable></div>
                <div id="moduleList-container">

                </div>
            </div>
        </div>
    </div>
</div>
