@model PTSMSDAL.Models.Enrollment.Operations.License

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>License</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LicenseType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonDocument.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonDocument.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicenseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicenseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Threshold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Threshold)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LicenseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
