@model PTSMSDAL.Models.Scheduling.Relations.FlightLog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FlightLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalAirports.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalAirports.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureAirports.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureAirports.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Equipment.NameOrSerialNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.NameOrSerialNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentModel.EquipmentModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentModel.EquipmentModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlyingFTDSchedule.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlyingFTDSchedule.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PilotInCommand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PilotInCommand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoPilot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoPilot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightEngineerFlightTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightEngineerFlightTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightTimeDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightTimeDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlightTimeNight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightTimeNight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentFlightTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentFlightTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SyntheticTrainerTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SyntheticTrainerTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayTakeOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayTakeOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NightTakeOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightTakeOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayLanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayLanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NightLanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightLanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstrumentApproach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstrumentApproach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PilotFunctionOnBoard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PilotFunctionOnBoard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
