@model PTSMS.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title | EAATMS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Login</title>
</head>

<body class="hold-transition register-page">

    <div class="login-box">
        <div class="login-logo">
            <a href="/"><b>EAAT</b>MS</a> <span class="fa fa-plane fa-3x"></span>
        </div>
        <div class="login-box-body">
            @*  <div class="login-logo">
                    <img src="~/Content/Images/Logo 3.png" alt="Logo" class="img img-responsive" />
                    <span class="fa fa-lock fa-3x"></span>
                </div><!-- /.login-logo -->
            *@
            <p class="login-box-msg">Please enter your username to recover your password.</p>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-success" value="Email Link" />
                    </div>
                </div>
            }
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/AdminLTE")

    <link href="~/Content/BootstrapDataTable/BootstrapDataTableCSS.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Scripts/bootbox.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
                        
        });
    </script>
</body>

</html>

