@model PTSMSDAL.Models.Curriculum.Operations.Lesson

@{
    ViewBag.Title = "Details";
    ViewBag.Name = "Lesson Details.";
}

<link href="~/Content/AdminLTE/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/AdminLTE/plugins/datepicker/bootstrap-datepicker.js"></script>

    <script src="~/Content/AdminLTE/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Content/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {

            //var muduleObjective = $('#MuduleObjective').val();
            ////alert(muduleObjective);
            //$("#MuduleObjective").html(muduleObjective).text();


            //var $log = $("#MuduleObjectiveContent");
            //jQuery.noConflict();
            //var html = $.parseHTML('<h2 style="font-style:italic;"><span class="marker">TEST,TEST,TEST</span></h2>');
            //// Append the parsed HTML
            //jQuery.noConflict();
            //$log.append(html);

            //File View Event handler
            $('#FileContainer').on('click', '.File-Link', function (event) {

                var dataIds = $(this).attr('data-id');
                var dataArray = dataIds.split('~');

                var lessonId = dataArray[0];
                var fileName = dataArray[1];
                //alert('lessonCode = ' + lessonCode + ' fileName=' + fileName);

                //FilesView(string lessonCode, string fileName)
                var url = "/Lessons/FilesView";
                location.href = url + "?fileName=" + fileName + "&lessonId=" + lessonId;
            });
        });


        //$(window).on('load', function () {
        //    // Replace the <textarea id="editor1"> with a CKEditor
        //    // instance, using default configuration.
        //    CKEDITOR.replace('MuduleObjective', { toolbar: '1', htmlEncodeOutput: true });
        //    //CKEDITOR.instances['MuduleObjective'].setReadOnly(true);
        //    //CKEDITOR.editorConfig = function (config) {
        //    //CKEDITOR.config.autoParagraph = false;
        //    //};
        //    CKEDITOR.config.readOnly = true;
        //    CKEDITOR.editorConfig = function (config) {
        //        config.language = 'en',
        //        ignoreEmptyParagraph = true,
        //        config.autoParagraph = false,
        //        config.allowedContent = true
        //    };
        //    $(".textarea").wysihtml5();
        //});


    </script>
}




<div class="form-horizontal">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12"  id="FileContainer">
            <br />
            <dl class="dl-horizontal">
                <dt>
                    Previous @Html.DisplayNameFor(model => model.PreviousLesson.LessonName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PreviousLesson.LessonName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LessonName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LessonName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeAircraftDual)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeAircraftDual)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TimeAircraftSolo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeAircraftSolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FTDTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FTDTime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsCheckRide)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsCheckRide)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CheckRidePassingMark)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CheckRidePassingMark)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EffectiveDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EffectiveDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RevisionNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RevisionNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

            </dl>
            <div class="form-group">
                @if (Model.LessonReferenceFiles.Count > 0)
                {
                    <label class="control-label col-md-3">Module File/s</label>
                    <div class="col-md-10">
                        <ul>
                            @{
                                foreach (var item in Model.LessonReferenceFiles)
                                {
                                    <li><a href="#" class="File-Link" data-id='@item.Value~@item.Text'>@item.Text</a></li>
                                }
                            }
                        </ul>
                    </div>
                                }
            </div>
        </div>

        <div class="col-md-6 col-sm-12 col-lg-6 col-xs-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Objective, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Objective, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Objective, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Reference, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.Reference, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="InstructorPrebriefRow">
                @Html.LabelFor(model => model.InstructorPrebrief, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.InstructorPrebrief, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InstructorPrebrief, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="RequiredInstructionDuringFlightRow">
                @Html.LabelFor(model => model.RequiredInstructionDuringFlight, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.RequiredInstructionDuringFlight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequiredInstructionDuringFlight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" id="TraineeCompetencyCriteriaRow">
                @Html.LabelFor(model => model.TraineeCompetencyCriteria, htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-8">
                    @Html.DisplayFor(model => model.TraineeCompetencyCriteria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TraineeCompetencyCriteria, "", new { @class = "text-danger" })
                </div>
            </div>            
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LessonId }) |
    @Html.ActionLink("Back to List", "Index")
</p>