@model PTSMSDAL.Models.Scheduling.Relations.BatchEquipmentModel

@{
    ViewBag.Title = "Details";
 ViewBag.Name = "Batch Equipment Model Details";
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div>
     
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BatchClass.BatchClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatchClass.BatchClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentModel.EquipmentModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipmentModel.EquipmentModelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BatchEquipmentModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
