@model IEnumerable<PTSMSDAL.Models.Curriculum.Operations.ModuleActivity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Module.ModuleCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModuleActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstimatedDuration)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr role="row" class="odd">
        <td>@(i++) </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module.ModuleCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModuleActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstimatedDuration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ModuleActivityId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ModuleActivityId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ModuleActivityId })
        </td>
    </tr>
}
</table>


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('#tblCarRequest').DataTable({
            "order": [[1, "asc"]]
        });
    });
</script>
