@model IEnumerable<PTSMSDAL.Models.Scheduling.Operations.Day>

@{
    ViewBag.Title = "Index";
    ViewBag.Name = "Day List.";
    ViewBag.TableId = "tblDay";
    ViewBag.DefualtSortingColumnIndex = 1;
}

 <br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblDay" class="table table-responsive display dataTable" cellspacing="0" role="grid" width="100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>
                @Html.DisplayNameFor(model => model.DayTemplate.DayTemplateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr role="row" class="odd">
                    <td>@(i++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayTemplate.DayTemplateName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RevisionNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.DayId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.DayId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.DayId })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
