@model IEnumerable<PTSMSDAL.Models.Curriculum.Operations.Module>

@{
    ViewBag.Title = "Index";
    ViewBag.Name = "Module List.";
    ViewBag.TableId = "tblModule";
    ViewBag.DefualtSortingColumnIndex = 1;
}

<style>
    #AddModuleActivity .modal-dialog {
        width: 60%;
    }
</style>

@section scripts
{
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {


             @{
                 if (ViewBag.ModuleMessage != null)
                 {
                     <text> bootbox.alert('@ViewBag.ModuleMessage');</text>
                     ViewBag.ModuleMessage = null;
                 }
             }


            $('body').on('click', ".moduleActivityList", function () {
                var moduleId = $(this).data('id');
                var url = "/ModuleActivity/ModuleActivityList?moduleId=" + moduleId;

                $('#moduleActivityModalPopupTitle').html("Module Activity List");

                $.get(url, function (data) {
                    $('#ModuleActivity-Container').html(data);
                    $('#AddModuleActivity').modal('show');
                });
            });

            $('body').on('click', ".createModuleActivity", function () {
                var moduleId = $(this).data('id');
                var url = "/ModuleActivity/CreateModuleActivity?moduleId=" + moduleId;
                $('#moduleActivityModalPopupTitle').html("Create Module Activity");

                $.get(url, function (data) {
                    $('#ModuleActivity-Container').html(data);
                    $('#AddModuleActivity').modal('show');
                });
            });

            $('body').on('click', ".deleteModuleActivity", function () {

                $('#moduleActivityModalPopupTitle').html("Delete Module Activity");
                var moduleActivityId = $(this).attr("data-id");

                var url = "/ModuleActivity/DeleteModuleActivity";

                url = url + '?moduleActivityId=' + moduleActivityId;
                $.get(url, function (data) {
                    $('#ModuleActivity-Container').html(data);
                    $('#AddModuleActivity').modal('show');
                });
            });

            $('body').on('click', ".editModuleActivity", function () {

                $('#moduleActivityModalPopupTitle').html("Edit Module Activity");
                var moduleActivityId = $(this).attr("data-id");

                var url = "/ModuleActivity/EditModuleActivity";

                url = url + '?moduleActivityId=' + moduleActivityId;
                $.get(url, function (data) {
                    $('#ModuleActivity-Container').html(data);
                    $('#AddModuleActivity').modal('show');
                });
            });


            $('body').on('click', "#btnAdd", function () {


                var addedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationAdded').val());
                var removedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationRemoved').val());
                var rowCounter = addedRowCounter + removedRowCounter + 1;
                var moduleActivityDuration = 'txtModuleActivityDuration' + rowCounter;
                var moduleActivityName = 'txtModuleActivityName' + rowCounter;

                //HOLD only the exact amount of existing rows (Trainee Lesson Association)
                $('#txtNumberOfModuleActivityNameAndDurationAdded').val(addedRowCounter + 1);

                var rowClass = "form-group row div" + rowCounter;
                var newDivElement = $("#ModuleActivityNameAndDurationContainer");

                var newFlight = "<div class='" + rowClass + "'> " +
                    "<div class='col-md-1'> </div><div class='col-md-6'><input class='form-control input-sm' type='text' data-id = '" + rowCounter + "' name='" + moduleActivityName + "' id='" + moduleActivityName + "' width='300' style='width: 100%;' />"
                + "</div><div class='col-md-4'>" + "<input class='form-control input-sm' type='number' min='0' value = '0' data-id = '" + rowCounter + "' name='" + moduleActivityDuration + "' id='" + moduleActivityDuration + "' width='300' style='width: 100%;'/>"
                + "</div><div class='col-md-1'><button type='button' class='btn btn-sm btn-warning btn-flat RemoveButton' data-id = '" + rowCounter + "' id='btnRemove'" + rowCounter + " name='btnRemove''" + rowCounter + ">" +
                "<i class='fa fa-minus'></i></button></div></div>";

                newDivElement = $(newFlight).attr({ id: "ModuleActivityNameAndDurationContainer" });
                newDivElement.appendTo("#ModuleActivityNameAndDurationContainer");

                $('#btnRemove').removeAttr('disabled');
            });

            $('body').on('click', ".RemoveButton", function () {

                var addedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationAdded').val());
                var buttonIndex = $(this).data("id");

                if (addedRowCounter > 1) {
                    $('#ModuleActivityNameAndDurationContainer > .div' + buttonIndex).remove();
                    //Substract from added Row Counter
                    addedRowCounter = addedRowCounter - 1;
                    $('#txtNumberOfModuleActivityNameAndDurationAdded').val(addedRowCounter);

                    //Add removed Row Counter
                    var removedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationRemoved').val());
                    removedRowCounter = removedRowCounter + 1;
                    $('#txtNumberOfModuleActivityNameAndDurationRemoved').val(removedRowCounter);
                }
            });

            $('body').on('submit', "#btnAddEvent", function () {
                event.preventDefault();

                var moduleId = $('#txtModuleId').val();

                var addedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationAdded').val());
                var removedRowCounter = parseInt($('#txtNumberOfModuleActivityNameAndDurationRemoved').val());
                var rowCounter = addedRowCounter + removedRowCounter;

                //Collect Trainee-Lesson association
                var moduleActivityList = '';
                for (var i = 1; i <= rowCounter; i++) {
                    //Useful if any of the tarinee lesson row is removed in between
                    if ($('#txtModuleActivityName' + i).val() != "" && $('#txtModuleActivityName' + i).val() != null && $('#txtModuleActivityDuration' + i).val() != "" && $('#txtModuleActivityDuration' + i).val() != null) {
                        moduleActivityList = moduleActivityList + $('#txtModuleActivityName' + i).val() + "-" + $('#txtModuleActivityDuration' + i).val() + "~";
                    }
                    else {
                        //alert('Row (trainee Lesson association) at this Index at ' + i + ' has removed');
                    }
                }

                $('#txtTraineeLesson').val(moduleActivityList);

                /////////////////////////////////////////////////// Save Activities ///////////////////////////////////
                var SaveUrl = "/ModuleActivity/SaveModuleActivity?moduleId=" + moduleId + "&moduleActivityList=" + moduleActivityList;
                location.href = SaveUrl;
            });

        });
    </script>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tblModule" class="table display dataTable" cellspacing="0" role="grid" width="100%">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuleTitle)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TheoreticalDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticalDuration)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ExternalChapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExternalReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasExam)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ModuleWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EffectiveDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RevisionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>File List</th>*@
            <th>Action&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                string EffectiveDate = item.EffectiveDate.ToString("dd/MM/yyyy");
                <tr role="row" class="odd">
                    <td>@(i++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Course.CourseTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TheoreticalDuration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PracticalDuration)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ExternalChapter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExternalReference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HasExam)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ModuleWeight)
                    </td>
                    <td>
                        @EffectiveDate
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RevisionNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @*<td>
                            @Html.DropDownList("DropDownFileLists", (IEnumerable<SelectListItem>)item.DropDownFileLists, "-- Select File --", new { @class = "btn btn-default dropdown-toggle", style = "width: 170px;" })
                        </td>*@
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ModuleId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ModuleId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ModuleId }) |

                        <a href="#" title="MODULE ACTIVITY LIST" class="moduleActivityList" data-id="@item.ModuleId">Activity</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>




<div class="modal modal-fade" id="AddModuleActivity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="moduleActivityModalPopupTitle">Module Activity List</h4>
            </div>
            <div class="modal-body">
                <div id="ModuleActivity-Container">

                </div>
            </div>
        </div>
    </div>
</div>