@model PTSMSDAL.Models.Dispatch.Master.OperationArea

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OperationArea</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PreviousOperationArea.OperationAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousOperationArea.OperationAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationAreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationAreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EffectiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EffectiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OperationAreaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
